<ul class="navigation">
  <% @polynomials.each do |p| %>
    <li><%= link_to p.name, polynomial_path(p) %></li>
  <% end %>
  
  <li><%#= link_to "Wilson", root_path %></li>
  <li><%#= link_to "Racah", root_path %></li>
  <li><%#= link_to "Continuous Dual Hahn", root_path %></li>
  <li><%#= link_to "Continuous Hahn", root_path %></li>
  <li><%#= link_to "Hahn", root_path %></li>
  <li><%#= link_to "Dual Hahn", root_path %></li>
  <li><%#= link_to "Meixner-Pollaczek", root_path %></li>
  <li><%#= link_to "Jacobi", root_path %></li>
  <li><%#= link_to "Meixner", root_path %></li>
  <li><%#= link_to "Krawtchouk", root_path %></li>
  <li><%#= link_to "Laguerre", root_path %></li>
  <li><%#= link_to "Charlier", root_path %></li>
  <li><%#= link_to "Hermite", root_path %></li>
</ul>