/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "admin_base";
@import "stylr";

@include admin_base();

$caop-main-color: #2659d3;

#mainarea-wrapper {
  margin-bottom: 15px;

  #mainarea {
    #sidebar {
      @include float-left;
      width: $sidebar-width;

      ul.navigation {
        margin-top: 6px;

        a {
          display: block;
          text-decoration: none;
          color: $main-text-color;
          font-size: 110%;
          padding: 5px;
        
          &.active {
            $background-color: darken($main-background-color, 5%);
            background-color: $background-color;
            color: #efefef;

            &:hover {
              background-color: $background-color;
            }
          }

          &:hover {
            background-color: darken($main-background-color, 5%);
          }
        }
      }
    }
    
    #pagearea {
      #page {
        width: 95%;
        padding: 15px;
        
        h3 {
          margin: 15px 0 0 0;
        }
        
        p {
         margin: 10px 0 15px 0;
        }
        
        a {
          color: $caop-main-color;
          
          &:hover {
            color: darken($caop-main-color, 10%);
          }
          
          &:visited {
            color: lighten($caop-main-color, 10%);
          }
        }
      }
    }
  }
}

#topbar-wrapper #topbar {
  h1 {
    a {
      color: #dedede;          
    }
    margin-bottom: 10px;
  }
  
  .menu li {
    a {
      margin: 0 10px;
      color: #dedede;
    }

    &.active {
      background-color: lighten($topbar-background-color, 10%);
      
      a {
        color: #ffffff;
      }
    }
  } 
}

form.simple_form, form.form {
  @include stylr-form;
}

.button {
  @include stylr-button;
}

.result_wrapper {
  @include border-radius(7px);
  @include box-shadow(#ccc 0 1px 1px inset);
  border: 1px solid #ddd;
  width: 80px;
  height: 48px;
  background-color: #dedede;
  padding: 10px;
  margin: 15px auto;
  text-align: center;
  opacity: 0.3;
}