<%= contentr_area :Entry_Page %>

<div class="left_col">
  <%#= button_to 'Orthogonal Polynomials of Askey-Wilson scheme', polynomials_path, :class => 'button', :method => :get %>
</div>

<div class="right_col">
  <%#= button_to 'q-Orthogonal Polynomials of Askey-Wilson scheme', qpolynomials_path, :class => 'button', :method => :get %>
</div>
