<h2>CAOP - Computer Algebra & Orthogonal Polynomials</h2>

<p>
CAOP is a package for calculating formulas for orthogonal polynomials belonging to the Askey scheme by <a href="http://www.maplesoft.com/">Maple</a>.
With the present version users can compute recurrence relations, differential and difference equations or make a plot of every polynomial in the Askey scheme, without having Maple installed on
their own computer. It is also possible to multiply the polynomial by a scaling function, to change the argument and to give values to the parameters by filling out a form, before doing the calculation. As an extra option the user can choose the layout of the output: prettyprint, lineprint or LaTeX. The latter two options make it possible to insert the output in another Maple worksheet respectively in a LaTeX document by a simple mouse-action.
</p>

<p>Furthermore there are some help pages available for users who are not familiar with Maple. They can be viewed simultaneously while filling in the form.
</p>

<p>Most computations in CAOP are performed by calling procedures from <a href="http://www.mathematik.uni-kassel.de/%7Ekoepf/Publikationen/#down">hsum13</a> (Package "Hypergeometric Summation", Maple 6-13, Copyright 1998-2009, <a href="http://www.mathematik.uni-kassel.de/%7Ekoepf/">Wolfram Koepf</a>, University of Kassel).
</p>

<p>The implementation of CAOP was originally done by <a href="http://www.cs.vu.nl/%7Erene/">Ren&eacute; Swarttouw</a> as part of the <a href="http://www.cs.vu.nl/%7Erene/Onderzoek/AW.html">Askey-Wilson-Scheme Project</a> performed at <a href="http://www.riaca.win.tue.nl/">RIACA</a> in Eindhoven in 2004. A completely revised version of this project has been done by <a href="http://www.mathematik.uni-kassel.de/~sprenger">Torsten Sprenger</a> under supervision of Wolfram Koepf in 2012. The present version is maintained by <a href="http://www.mathematik.uni-kassel.de/~koepf">Wolfram Koepf</a>.
</p>