<%= contentr_area :Entry_Page %>

<p><%= button_to 'Orthogonal Polynomials of Askey-Wilson scheme', polynomials_path, :class => 'button', :method => :get %></p>
<p><%= button_to 'q-Orthogonal Polynomials of Askey-Wilson scheme', qpolynomials_path, :class => 'button', :method => :get %></p>
