<div style="text-align: center; margin: 20px auto; width: 300px">
  <div style="text-align: left">
    <h2>Login</h2>

    <%= form_tag '/admin', :class => 'form' do %>
      <p><b>Username</b> <%= text_field_tag 'username' %></p>
      <p><b>Password</b> <%= password_field_tag 'password' %></p>
      <p><%= submit_tag 'Login', :class => 'button' %></p>
    <% end %>
  </div>
</div>